:root {
    --background-color-header: #1A0B2E;
    --box-shadow-header: #000;
    --background-card-one: #130428;
    --background-card-two:  #251043;
    --background-card-tree: #38126D;
    --background-card-fourt: #261045;
    --background-card-five: #190634;
    --color-boton-card: #693B93;
    --color-boton-card-hover: #A362FF;
    --body-color: #11071F;
    --text-primary-color: #fff;
    --color-pd: #9857D3;
    --color-ep: #CCD6F6;
}

.dark {
    --body-color: #e5e7eb;
    --text-primary-color: #11071F;
    --background-color-header: #dbdbdb;
    --box-shadow-header: #e5e7eb;
    --background-card-one: #e0dada;
    --background-card-two: #e0dada;
    --background-card-tree: #e0dada;
    --background-card-fourt: #e0dada;
    --background-card-five: #e0dada;
    --color-boton-card: #0f0f0f;
    --color-boton-card-hover: #3022ff;
    --color-pd: #38016b;
    --color-ep: #1414e9;
}

.mainContainer{
    background-color: var(--body-color);
    color: var(--text-primary-color);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    /* border: 3px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1A0B2E;
    z-index: 100;
    box-shadow: 0 0 10px #000;
    background-color: var(--background-color-header);
    z-index: 100;
    box-shadow: 0 0 10px var(--box-shadow-header);
    display: flex;
    justify-content: center;
}

.nav {
    /* border: 2px solid blue; */
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary-color);
    padding: 0 40px 0 40px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo--icon {
    width: 2rem;
    height: 2rem;
}

.progress{
    position: fixed;
    top: 8%;
    left: 0;
    width: 100%;
    background: yellow;
    height: 1em;
    z-index: 10;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    0%{ width: 0%}
    100%{width: 100%}
}

/* estilos del boton del cv */
.btnCv{
    background-color: var(--box-shadow-header);
    cursor: pointer;
    border: none;
    padding: 10px 32px;
    color: var(--text-primary-color);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    margin-top: 20px;
}

.btnCv:hover{
    color: var(--box-shadow-header);
    background-color: var(--text-primary-color);
}

.reactGira{
    position: absolute;
    top: -10%;
    left: -45%;
    width: 250px;
    z-index: -1;
}

.btnCv::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}

@media (max-width: 768px) {
    .nav__menu {
        /* border: 3px solid blue; */
        position: fixed;
        /* top: 60px; */
        top: -100%;
        /* left: -100%; */
        left: 0;
        width: 100%;
        background-color: #1A0B2E;
        /* background-color: #1A0B2E; */
        height: calc(max-content - 60px);
        padding: 20px 0 10px;
        z-index: 100;
        transition: left .5s ease-in-out;
    }

    .nav__list {
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__menu .btn--close {
        position: absolute;
        top: .75rem;
        right: .75rem;
        width: 2rem;
        height: 2rem;
        font-size: medium;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
    }

    .about{
        /* border: 1px solid green; */
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


.nav__link {
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
    color: var(--text-primary-color);
}

.nav__buttons {
    color: var(--text-primary-color);
}

.nav__buttons {
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}

i {
    font-size: 1.25rem;
}

.show__menu {
    /* left: 0; */
    top: 60px;
}

.profile__container {
    /* border: 2px solid green; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.card {
    /* border: 3px solid green; */
    height: auto;
    border-radius: 15px;
    background: linear-gradient(110deg, var(--background-card-one) 19.95%, var(--background-card-two)  67.64%, var(--background-card-tree) 107.08%, var(--background-card-fourt) 156.61%, var(--background-card-five) 183.21%);
    box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12); 
}

.card__container .card{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes reveal {
    from{
        opacity: 0;
        translate: 30% 0;
    }

    to{
        opacity: 1;
        translate: 0 0;
    }
}

section .about{
    animation: aboutMe linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

@keyframes aboutMe {
    from{
        opacity: 0;
        translate: -100% 0;
    }

    to{
        opacity: 1;
        translate: 0 0;
    }
}

.card__text{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-primary-color);
}

.card:hover .card__text{
    opacity: 1;
    transition: .5s;
    color: #fff;
}

.tecnologias{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10px;
}

.iconProyect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.btn__card {
    padding: .5rem;
    border-radius: 15px;
    background: #693B93;
}

.btn__card:hover {
    background: #A362FF;
    /* background: var(--color-boton-card); */
    color: var(--text-primary-color);
}

.card__container {
    position: relative;
    /* border: 2px solid blue; */
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    z-index: 1;
}

.work_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workSection {
    /* border: 2px solid green; */
    max-width: 1200px;
}

.iconPrograming {
    /* border: 1px solid green; */
    width: 40px;
    height: 40px;
    padding: .5rem;
    border-radius: 50%;
    background-color: #251C31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    border-bottom: 2px solid #3D1768;
    /* width: 100%; */
    /* padding: 4rem; */
    display: grid;
    gap: .5rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.articleContainer {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}


.fondoWorkContainer {
    position: absolute;
    /* border: 3px solid green; */
    width: 100%;
    height: 100%;
    border-radius: 700px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
    top: 40px;
    left: 00%;
    /* z-index: 0; */
}

.imgContainer {
    /* border: 2px solid blue; */
    position: relative;
    z-index: 2;
}

.estiloFondoImagen {
    position: absolute;
    /* border: 2px solid green; */
    width: 340px;
    height: 340px;
    border-radius: 431px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
    top: -40%;
    left: -80%;
    z-index: -1;
}

.worl {
    /* border: 2px solid green; */
    width: 350px;
    border-radius: 432.389px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
}

.iconos {
    /* border: 2px solid green; */
    max-width: 350px;
}

/* diesño example project */
.imgDecoration {
    position: absolute;
    width: 250px;
    border-radius: 1rem;
    top: 100px;
    left: 40px;
    box-shadow: 14px -15px 5px 0px rgba(43, 11, 58, 0.75);
    -webkit-box-shadow: 14px -15px 5px 0px rgba(43, 11, 58, 0.75);
    -moz-box-shadow: 14px -15px 5px 0px rgba(43, 11, 58, 0.75);
}

.imgDecoration2 {
    position: absolute;
    width: 250px;
    border-radius: 1rem;
    top: -130px;
    left: 40px;
    box-shadow: 14px -15px 5px 0px rgba(43, 11, 58, 0.75);
    -webkit-box-shadow: 14px -15px 5px 0px rgba(43, 11, 58, 0.75);
    -moz-box-shadow: 14px -15px 5px 0px rgba(43, 11, 58, 0.75);
}

/* featured Diseño mobil */
.featured {
    /* border: 2px solid green; */
    margin-bottom: 10rem;
}

.feactured2 {
    display: none;
    margin-bottom: 10rem;
}

.secondBotons {
    width: 25px;
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-left: 1.25rem;
}

hr {
    border: 1px solid var(--text-primary-color); 
    height: 1px; 
    background-color: var(--text-primary-color);
}

@media (min-width: 768px) {
    .profileResponsive {
        display: flex;
        gap: 5rem;
    }

    .pfResponsive {
        max-width: 380px;
    }

}


@media (min-width: 1000px) {
    .mainContainer {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .about {
        max-width: 700px;
    }

    .featured {
        margin-bottom: 0px;
    }

    footer {
        max-width: 700px;
    }

    .cardFeatured {
        max-width: 600px;
    }

    .imgDecoration {
        /* border: 3px solid blue; */
        position: absolute;
        top: 10%;
        left: 55%;
        width: 400px;
        z-index: 0;
    }

    /* .cardFeatured {
        position: relative;
        margin-top: 2rem;
        padding-top: 1rem;
        padding-right: 2rem;
        z-index: 1;
    } */

    .feactured2 {
        /* visibility: visible; */
        display: block;
        /* border: 2px solid green; */
        margin-bottom: 2rem;
        display: grid;
        width: 100%;
        justify-content: end;
        padding-right: 1rem;
    }

    .direccion {
        width: 100%;
        /* border: 2px solid green; */
        display: flex;
        justify-content: flex-end;
    }

    /* .cardFeatured2 {
        position: relative;
        padding-top: 1rem;
        max-width: 600px;
    } */

    .imgDecoration2 {
        top: 10%;
        width: 400px;
    }

    .containerBtn {
        /* border: 2px solid green; */
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 5rem;
    }

    .articleDos {
        /* border: 2px solid black; */
        padding-top: 3rem;
    }

}

@media (min-width: 768px) {
    .nav__buttons {
        display: none;
        border: 2px solid black;
    }

    .btn--close {
        display: none;
        /* border: 2px solid green; */
    }

    .nav__list {
        /* border: 3px solid red; */
        display: flex;
        gap: 2rem;
    }

    .container {
        /* border: 2px solid green; */
        display: flex;
        justify-content: space-between;
    }

    .nav {
        /* border: 3px solid blue; */
        width: 100%;
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .imgDecoration:hover {
        transform: scale(1.2);
    }

    .imgDecoration2:hover {
        transform: scale(1.2);
    }
}

.bx:hover {
    color: #693B93;
}

.nav__link:hover {
    transform: scale(1.3);
    color: #A362FF;
}

/* Animacion para que gire el mundo */

.animationRotateReact {
    /* border: 2px solid green; */
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

.animationRotate {
    /* border: 2px solid green; */
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.eclipse1 {
    /* background: #CCD6F6; */
    width: 695px;
    height: 269px;
    /* border-radius: 695px; */
    background: linear-gradient(#00000000, #763CAC);
}

@media (max-width: 950px){
    .ellipse{
        display: none;
    }

    .iconEllipse{
        display: none;
    }
}

.bx-code-alt:hover{
    transform: scale(1.4);
}

.bxl-netlify:hover{
    transform: scale(1.4);
}

.pd-style{
    color: var(--color-pd);
    
}

.ep-style{
    color: var(--color-ep);
}

.contactoForm{
    /* border: 2px solid green; */
    width: 400px;
    height: auto;
    border-radius: 20px;
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--text-primary-color);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative
}

.inputForm{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid var(--body-color);
}

.btnForm{
    background-color: var(--background-color-header);
    color: var(--text-primary-color);
    padding: .75rem;
    margin-bottom: .5rem;
    border-radius: 20px;
}

.contactoForm{
    animation: contactMe linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
}

@keyframes contactMe {
    from{
        opacity: 0;
        translate: 30% 0;
    }

    to{
        opacity: 1;
        translate: 0 0;
    }
}

article .contact{
    animation: aboutMe linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
}

@media (max-width: 1018px){
    .mediaForm{
        /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1008px){
    .mediaForm{
        /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @keyframes reveal {
        from{
            opacity: 0;
            translate: -30% 0;
        }
    
        to{
            opacity: 1;
            translate: 0 0;
        }
    }

    .contactoForm{
        min-width: 100%;
    }

    @keyframes contactMe {
        from{
            opacity: 0;
            translate: -30% 0;
        }
    
        to{
            opacity: 1;
            translate: 0 0;
        }
    }
}

input[type=text], select, textarea{
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
  }