@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, span, a{
  font-family: 'Lora', serif;
}

img{
    width: 100%;
    height: auto
}

*{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {

    width: 8px;
  
  }
  
  ::-webkit-scrollbar-thumb {
  
    background: #ffe24b;
  
    border-radius: 5px;
  
  }